// mat-card {
//     margin-bottom: 1em;
//     font-size: 24px;
//     button {
//       float: right;
//     }
//     .post-title {
//       font-weight: bold;
//     }
//     .post-meta {
//       font-size: 16px;
//       font-style: italic;
//     }
//     .post-body {
//       margin-top: 1em;
//     }
//   }


.example-card {
  max-width: 400px;
}

.avatar {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 55%;
}