<app-navigation></app-navigation>
<br>
<br>
<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input value="{{title}}" [(ngModel)]="title" matInput>
  </mat-form-field>
  <br>
  <br>
 
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea value="{{description}}" [(ngModel)]="description"  matInput></textarea>
  </mat-form-field>

  <br>
<br>
<mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input value="{{image}}" [(ngModel)]="image" matInput>
  </mat-form-field>

  <br>
  <br>
  <div class="example-button-row">
   <button (click)="update()"  mat-raised-button color="accent">Save Edit</button>
   
  </div>